

Testing
<div class="text-center" >
<% if @posts %>
<%@posts.each do |post|%>
   <p> <%= link_to post.account.username.capitalize, visit_path(post.account_id), class: "text-dark"%></p><br>
    <%if post.image.attached?%>
    <%= image_tag url_for(post.image),class:"w-50 p-3"%>
       
    <%end%>
  
    <%end%>
      </div>
    <%end%>
 
