// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
	background: #fafafa !important;
}



.profile-pic {
	border-radius: 50%;
}

.profile-stats {
	width: 120px;
	float: left;
}

.username {
	font-size: 28px;
	line-height: 32px;
	margin: -5px 0 -6px;
	font-weight: 300;
	margin-bottom: 20px;
}
.profile-buttons {
	width: 120px;
	float: right;
}


.follow-button {
	text-transform: uppercase;
	border-color: #4090db;
	color: #4090db;
	margin-left: 20px;
	&:visited, &:focus, &:hover {
	  border-color: #2D6396;
	  color: #2D6396;
	}
  }
  
  .unfollow-button {
	text-transform: uppercase;
	border-color: #66bd2b;
	background-color: #66bd2b;
	color: white;
	margin-left: 20px;
	&:visited, &:focus, &:hover {
	  border-color: #47821F;
	  background-color: #47821F;
	  color: white;
	}
  }
  